<json-form [formJson]="json" [debug]="false" (output)="components($event)"></json-form>
<textarea [value]="rapidPageValue" (keyup)="update($event)" style="background-color:black;color:white;" name="Text1" cols="400" rows="50"></textarea> 


<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" novalidate>
    <ng-container *ngFor="let controls of fields">
      {{controls.label}}
      <input [type]="controls.type" [formControlName]="controls.label" />
      <ng-container *ngFor="let validation of controls.validations">
        <span *ngIf="dynamicForm.controls[controls.label].touched && dynamicForm.controls[controls.label].errors">
          <p *ngIf="dynamicForm.controls[controls.label].errors[validation.name]">
            {{validation.message}}
          </p>
        </span>
      </ng-container>
      <br>
    </ng-container>
    <br>
    <input type="submit" [disabled]="!dynamicForm.valid" />
  </form>
  
  <form [formGroup]="dynamicFormm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row col-md-12" *ngFor="let element of temp.fields">
      <div class="col-md-1">  {{element.label}} :</div>
    <div class="col-md-4">
      <input [type]="element.type" *ngIf="!element.selectBox" [formControlName]="element.label" />
      <select [formControlName]="element.label" *ngIf="element.selectBox && !element.validation.isMultiSelection">
        <option value="undefined" selected disabled>--Select City--</option>
        <option [value]="opt" *ngFor="let opt of element.values">{{opt}}</option>
      </select>
      <select multiple [formControlName]="element.label" *ngIf="element.selectBox && element.validation.isMultiSelection">
        <option value="undefined" selected disabled>--Select City--</option>
        <option [value]="opt" *ngFor="let opt of element.values">{{opt}}</option>
      </select>
    </div>
      <ng-container *ngFor="let validation of element.validations">
        <span *ngIf="dynamicFormm.controls[element.label].touched && dynamicFormm.controls[element.label].errors">
          <p *ngIf="dynamicFormm.controls[element.label].errors[element.name]">
           not valid
          </p>
        </span>
      </ng-container>
      <br>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!dynamicFormm.valid">Submit</button>

  </form>